<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1></h1>
            <h2>Reminders</h2>
    {% for i in todo_object.items.all %}
    {{list.name}} {{list.items.count}}
    <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>{{list.created_on}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
            
              </td>
          </tr>
        <tbody>
    {% endfor %}
            
        </div>
    </main>
</body>
</html>