<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{todo_object.name}}</h1>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
  
            {% for list in todo_list %}
            <a href="{% url "todo_list_detail" list.id%}"></a>
            <tr>
                <td>
                    <li>{{list.name}} {{list.items.count}}</li>
                    {% comment %} <li>{{list.items.count}}</li> {% endcomment %}
                </td>
            </tr>
          </tbody>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
